@import url("../main.css");

/*************************************** CSS sur simple balise HTML **********************************/
body {
  position: relative;
}

table {
  width: 100%;
}

.etape {
  padding: 1em 0;
  font-weight: 600;
  margin: 0;
}

tr {
  display: flex;
  flex-direction: column;
}

tbody {
  width: 100%;
}

li {
  margin-left: 35%;
}

/************************************************ CSS SUR LES TD **************************************************************/

/* .premier {
  padding: 1em 0;
} */
#listProposal {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.second {
  background-color: var(--fond);
  padding: 2em;
  width: 93%;
  border-radius: 10px;
}

.difficulty {
  margin: auto;
  padding: 1.5em 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: var(--fond);
  border-radius: 10px;
}

.difficulty > div {
  width: 100%;
}

.divInputLabel {
  position: relative;
  padding-left: 5px;
  padding-right: 0;
}

#create_question_difficulty input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2em;
  padding: 1em 0;
  border: 1px solid #ccc;
  width: 75%;
  background-position: 25px;
  background-repeat: no-repeat;
  background-size: 23px;
}
#create_question_difficulty label {
  position: absolute;
  top: 25%;
  left: 35%;
  color: white;
  font-weight: 500;
  font-size: var(--normal);
}

input[type="radio"] {
  background-color: var(--grey);
  cursor: pointer;
}

input[type="radio"]:checked {
  background: var(--pamplemousse);
  margin: 0;
  cursor: pointer;
}

/*input[type="radio"]:checked:before {*/
/*     display: block;*/
/*     color: grey;*/
/*     font-size: 13px;*/
/*     position: absolute;*/
/*}*/

#error_checked {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: var(--fond);
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  background: var(--fond);
}

.premierSelect {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  background: var(--fond);
  border-radius: 10px;
}

.numeroForm {
  background-color: var(--pamplemousse);
  padding: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
  width: 20px;
  text-align: center;
  color: var(--fond);
}

/********************************************************* CSS SUR LES ELEMENTS DU FORM ***************************************/
form {
  width: 70%;
  margin: auto;
  padding: 2.5em 0;
}
#create_question_wording {
  width: 80%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: hidden;
  padding: 10px;
}

#create_question_module {
  padding: 0.8em;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
  border: none;
}
#create_question_difficulty {
  margin: auto;
  padding: 1em 0;
  border: none;
  font-size: var(--grand);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  text-align: center;
}

#create_question_enabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  background: #fff;
  border: 1px solid #ccc;
}

#create_question_enabled:checked {
  background: var(--vert);
  margin: 0px;
  position: relative;
  cursor: pointer;
  border: 1px solid;
}
#create_question_enabled:checked:before {
  font-family: "Alumni Sans", sans-serif;
  display: block;
  color: grey;
  font-size: var(--semi_small);
  position: absolute;
}

/********************************************* CE QUI A UN RAPPORT AVEC LA PARTIE PROPOSAL ***************************************************/

.errorAddProposal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  bottom: 50%;
  top: 50%;
  display: none;
  justify-content: center;
  align-content: center;
  z-index: 100;
}
.errorAddProposal > ul {
  align-self: center;
  background: var(--pamplemousse);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.errorAddProposal > ul > li {
  padding: 20px 20px 60px;
  margin: 0;
  height: 20px;
}
.errorAddProposal > ul > li::after {
  content: "click sur le cadre pour fermer l'onglet ";
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.removeProposal {
  background-color: var(--grey);
  color: white;
  border-radius: 50px;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 10em;
  margin-bottom: 15px;
}

.removeProposal:hover {
  background-color: var(--vert);
  cursor: pointer;
}

.addProposal {
  background-color: var(--grey);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0.7em 0;
  font-size: var(--normal);
  margin: auto;
  width: 30%;
}

.addProposal:hover {
  cursor: pointer;
}

.divProposal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divProposal > * {
  width: 100%;
}

.divProposal > div:last-child {
  padding: 0.5em 0;
}

.divProposal label {
  padding: 0.5em;
}

.divProposal textarea {
  border-radius: 5px;
  border: none;
  color: grey;
  padding: 0.5em;
  background: var(--fond);
  width: 100%;
  margin: auto;
}

.liProposal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 10px -2px var(--grey);
}

#list_proposal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.pLetter {
  background-color: var(--grey);
  padding: 10px 13px;
  border-radius: 50%;
  color: white;
  margin: 1em auto;
  width: 15px;
  text-align: center;
}

.required {
  color: var(--grey);
  font-weight: bold;
  margin: auto;
  text-align: center;
  width: 80px;
}

label {
  color: var(--grey);
  font-weight: 600;
}

.wording {
  margin-left: 20px;
  height: 50px;
}

.div_wording {
  display: flex;
}

.div_wording textarea {
  margin-top: 23px;
}

.proposal {
  display: flex;
  align-items: center;
}

/******************************************* PARTIE DESACTIVE LA QUESTION ************************************************/

.formOption {
  background-color: var(--pamplemousse);
  padding: 12px 30px;
  border-radius: 40px;
}

.paddingOption {
  margin: 0;
  padding: 2.5em 0;
}

/******************************************************** VALIDATION *****************************************************************/
tr:last-child > td {
  padding: 1.5em 0;
  text-align: center;
}
.valid {
  background-color: var(--grey);
  color: white;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  padding: 1em 0;
  font-size: var(--normal);
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.valid:hover {
  background-color: var(--vert);
  font-weight: bold;
  cursor: pointer;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
/* ************************CKEDITOR TEST CSS************************ */
/* .cke_inner .cke_reset {
  width: 100%;
} */

@media screen and (max-width: 1200px) {
  .buttondiff {
    padding: 5px 35px;
    font-size: var(--normal);
  }

  .buttondesac {
    padding: 5px 15px;
    font-size: var(--normal);
  }

  .formOption {
    padding: 8px 20px;
  }

  .valid {
    padding: 15px 200px;
  }

  label.required {
    text-align: left;
  }
}
/*****************INFO MODIF QUESTION***************** */
.infoQuestion {
  width: 70%;
  margin: 2em auto 0;
  border-bottom: 2px dashed var(--grey);
  border-top: 2px dashed var(--grey);
  padding: 0 1em 1em;
}

.info > p {
  font-size: var(--grand);
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.stickerInfo {
  padding: 1.5em;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  background: var(--fond);
  border-radius: 0.5em;
}

.stickerInfo > li {
  padding: 1em;
  border-radius: 0.5em;
  background: white;
  text-align: left;
  margin: 0;
}
.stickerInfo > li > span {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  table {
    width: 100%;
  }

  .buttondesac {
    padding: 10px 30px;
    font-size: var(--normal);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .buttondiff {
    padding: 10px 35px;
    font-size: var(--normal);
  }

  .valid {
    padding: 13px 150px;
  }

  #question_module {
    padding: 10px 30px;
    font-size: var(--normal);
  }

  #create_question_difficulty input[type="radio"] {
    width: 140px;
    height: 60px;
  }

  img {
    width: 45px;
    height: 45px;
  }

  .divProposal :first-child div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divProposal div label {
    width: 100%;
    text-align: center;
  }

  .wording {
    width: 120px;
    height: 60px;
  }

  #error_checked {
    display: flex;
    flex-direction: column;
  }

  .liProposal {
    width: 40%;
  }

  .difficulty {
    width: 68%;
  }

  #create_question_difficulty label {
    position: absolute;
    top: 20%;
    left: 37%;
    color: white;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 90%;
  }

  table {
    margin: auto;
    width: 350px;
  }

  tbody {
    width: 400px;
    display: block;
  }

  tr {
    background-color: var(--fond);
    margin-top: 20px;
    padding: 0;
  }

  #create_question_module {
    font-size: var(--normal);
  }
  #create_question_difficulty {
    background-color: var(--fond);
    margin-bottom: 20px;
    font-size: var(--normal);
  }

  /* .numeroForm {
    background-color: var(--pamplemousse);
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    width: 20px;
    text-align: center;
    color: var(--fond);
  } */

  .etape,
  .partTitle {
    padding: 0;
    margin-left: 20%;
  }

  .buttondiff {
    padding: 8px 27px;
    font-size: var(--semi_small);
  }

  #question_wording {
    width: 95%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid var(--grey);
  }

  li {
    margin-left: 15%;
  }

  tr {
    background-color: white;
  }

  .paddingOption {
    margin-left: 0;
  }

  .liProposal {
    flex-direction: column;
  }

  .div_wording {
    padding: 0;
  }

  .div_wording textarea {
    width: 224px;
    height: 76px;
    margin-top: 2px;
  }

  .removeProposal {
    margin: 15px auto 50px auto;
    display: block;
  }

  #list_proposal {
    padding-left: 0;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .proposal {
    display: flex;
    flex-direction: column;
  }

  #create_question_difficulty input[type="radio"] {
    width: 65px;
    height: 31px;
    border: none;
  }

  .difficulty {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  label.required {
    width: 50%;
    text-align: center;
  }

  .divProposal {
    flex-direction: column;
  }

  .pLetter {
    margin: 30px auto auto auto;
  }

  .divProposal div label {
    margin: auto;
  }

  .divProposal div {
    flex-direction: column;
  }

  .wording {
    width: 216px;
    height: 68px;
  }

  .paddingoption {
    margin-left: 0;
  }

  .liProposal {
    width: 80%;
  }

  .center {
    text-align: center;
  }

  .addProposal {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10px;
  }

  #create_question_difficulty label {
    position: absolute;
    top: 13%;
    left: 28%;
    color: white;
  }
}
