@import url(public/css/main.css);

html,
body {
  margin: 0;
}

.container_create_qcm {
  padding: 5px;
}

/*******GENERAL*******/

ul {
  list-style: none;
  margin: 0;
}

/* **************** */

/* .list_buttons_nav,
.content_qcm_creation {
  margin: auto;
} */

/* ************ NAV ***********/

.list_buttons_nav {
  padding: 20px;
  background: #ffac8f;
  display: grid;
  grid-gap: 20px;
  text-align: center;
  border-radius: 5px;
}

.list_buttons_nav > li {
  padding: 30px;
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25),
    inset 3px 3px 3px rgba(250, 250, 250, 0.25); */
  color: white;
}

.create_qcm {
  display: grid;
  width: 98%;
  margin: auto;
}

.bloc_step_one {
}
.step_one {
  padding: 5px 15px;
}
.content_qcm_creation {
}

@media screen and (min-width: 650px) {
  .list_buttons_nav {
    border-radius: 20px;
  }
  .list_buttons_nav > li {
    border-radius: 20px;
  }
  .container_create_qcm {
    padding: 10px;
  }
  .bloc_step_one {
  }
  .list_buttons_nav {
    grid-template-columns: repeat(4, 1fr);
  }
  .create_qcm {
    grid-template-columns: repeat(
      3,
      10% [col-start] 80% [col-middle] 10%[col-end]
    );
  }
  .content_qcm_creation {
    width: 80%;
    margin: auto;
  }
}
