@import url('../main.css');
/***************************************************************************************************/
/*GENERAL*/
h3{
    text-align: center;
    font-weight: normal;
}

p{
    margin: 0;
}

.questionLi{
    margin: 1em;
}

.questionWordingDiv{
    display: flex;
}


.proposalWordingP{

}

.chevronBasP{
    width: 5%;
}


/*********************************************** BOUTON DEBUT DE PAGE (MODULE + GENERATE) *************************************/

.selectModule{
    padding: 25px 200px;
    border: none;
    background-color: var(--fond);
    font-size: var(--semi_small);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    display: block;
    margin: 30px auto;
}

.buttonGenerate{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 15px 180px;
    font-size: var(--semi_small);
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

.buttonGenerate:hover{
    background-color: var(--vert);
    font-weight: bold;
}

.etape{
    background-color: var(--pamplemousse);
    font-weight: bold;
    color: var(--fond);
    padding: 3px 10px;
    border-radius: 20px;
}

/***************************************************************************************************/
/*GENERATE QCM*/

.btnCustom{
    background-color: var(--grey);
    color: white;
    border-radius: 25px;
    border: none;
    padding: 20px 150px;
    font-size: var(--semi_small);
    margin: 35px auto;
    display: block;
    cursor: pointer;
}

.btnCustom:hover{
    background-color: var(--vert);
    font-weight: bold;
}

.showQcm{
    background-color: var(--fond);
    padding: 20px 40px 10px 40px;
}

.numeroForm{
    background-color: white;
    padding: 8px 17px;
    border-radius: 50%;
    margin-right: 8px;
}

.numeroProp{
    background-color: var(--grey);
    padding: 8px 17px;
    border-radius: 50%;
    margin-right: 8px;
    color: white;
    font-size: var(--grand);
}

.chevronBasImg{
    width: 50%;
    position: relative;
    top: 50%;
    right: 100%;
}

.backWhite{
    background-color: white;
    padding: 20px;
    overflow: scroll;
    height: 1000px;
    border: 2px solid var(--grey);
    border-radius: 10px;
}

.proposalWordingDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--fond);
    padding: 15px;
    width: 93%;
    margin-top: 7px;
}

.questionWordingP{
    background-color: var(--pamplemousse);
    padding: 20px 10px;
    text-align: left;
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
}

/***************************************************************************************************/
/*LEGEND*/

.legendDifficultyDiv{
    display: flex;
    border: 2px solid #FFAC8F;
    border-radius: 5px;
    padding: 1em;
    background-color: #FFF4E4;
}

.legendDifficultyDecoDiv{
    display: flex;
}

.legendDifficultyDecoSubDiv{
    display: flex;
    background-color: #616161;
    border-radius: 50%;
    justify-content: center;
    padding: .5em;
    width: 50%;
}

.legendDifficultyDecoSubDiv div{
    color: white;
}

.legendDifficultyImageDiv{
    width: 20%;
}

.legendDifficultyDecoSubDiv img{
    width: 55%;
    padding: 5px;
    background-color: #FFF4E4;
    border-radius: 50px;
}

.legendDifficultyNbr{
    display: flex;
}

/***************************************************************************************************/
/*DRAG AND DROP*/

.dragAndDrop{
    display: flex;
    flex-wrap: wrap;
}

.qcmChoisedLegend{
    width: 100%;
}

.qcmChoisedMain{
    width: 37%;
}

.createQuestion{
    width: 100%;
}

/***************************************************************************************************/
/*QCM CHOISED*/

.qcmChoisedLi{
    display: flex;
    margin: 1em;
}

.modifyQuestionImgDiv{
    width: 5%;
}

.modifyQuestionImg{
    width: 100%;
}

/***************************************************************************************************/
/*LIST QUESTON*/

.listQuestionTypedDiv{
    display: flex;
    flex-wrap: wrap;
}

.btnChoiseQuestionType{
    width: 100%;
}

.questionsCustom,
.questionsOfficial{
    width: 47%;
}



