@import url("../main.css");

.titleDashboard{
    margin-bottom: 50px;
}

.title{
    text-align: center;
    width: 60%;
    padding: 10px;
    border-radius: 2em;
    background-color: var(--pamplemousse);
    margin: auto;
    font-weight: bold;
    color: white;
    margin-bottom: 1em;;
}

.level{
    background-color: var(--fond);
    margin: 0 auto 1em;
    display: flex;
    text-align: center;
    padding: .5em 0;
}

.pIsOfficial{
    background-color: var(--grey);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 6em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.pDifficulty{
    background-color: var(--pamplemousse);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 6em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.pTitle{
    background-color: var(--grey);
    color: white;
    border-radius: 9px;
    border: none;
    padding: 15px;
    width: 8em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.QcmsList{
    background-color: var(--fond);
    padding: 2em;
    margin: 50px auto;
}

.legend {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-legend {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/**********************************************************************************************************************/
/* Session / Level / Students */

.nameLevel{
    -moz-appearance: none;
    border-radius: 7px;
    padding: 1em 200px;
    width: 198px;
    border: 1px solid #ccc;
    background-color: var(--grey);
    height: 70px;
}

.nameLevel label{
    top: 23.5px;
    width: 185px;
}

.checkboxStudent{
    -moz-appearance: none;
    height: 40px;
    border-radius: 7px;
}

.nameLevel:checked{
    background-color: var(--vert);
    color: white;
}

.checkboxStudent:checked{
    background-color: var(--pamplemousse);
    padding: 4px 12px;
    border-radius: 1em;
}

.checkboxStudent:checked + label{
    color: white;
}

.choiceLevel{
    display: flex;
    flex-wrap: wrap;
}

.liLevel,
.liStudentData{
    position: relative;
    margin: auto;
}

.liStudentData{
    width: 75%;
}

.liLevel input:hover,
.liLevel label:hover,
.liStudentData input:hover,
.liStudentData label:hover{
    cursor: pointer;
}

.liLevel label,
.liStudentData label{
    position: absolute;
    display: block;
    text-align: center;
    padding: 0 5px;
}

.liLevel label{
    color: white;
}
/**********************************************************************************************************************/
/*Students*/

.studentsList{
    margin: 2em;
}

.liStudentData label{
    color: var(--grey);
}

.ulListStudents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--fond);
}

.divStudentData{
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    margin: 2em 0;
    background-color: var(--pamplemousse);
    border-radius: 16px;
}

.divStudentData:hover{
    background-color: var(--pamplemousse);
    padding: 4px 12px;
    border-radius: 1em;
}

.imgLevel{
    position: absolute;
    right: 0;
}

.labelStudent{
    margin-top: 3px;
}

/**********************************************************************************************************************/
/*Qcm Done*/

.liQcmDone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed var(--writing);
}

.liQcmDone:hover{
    cursor: pointer;
    background-color: var(--pamplemousse);
    border-radius: 13px;
}

.pImageLevel{
    width: 3em;
    text-align: center;
}

.qcms .qcmImgLevel{
    width: 100%;
}

#img-decouvre{
    width: 60%;
}

.qcmImgLevel{
    width: 8%;
}

.noStudent, .pNoStudents{
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;
}

#div-legend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
}

#infoHover{
    background-color: var(--pamplemousse);
    color: white;
    padding: 6px;
    font-weight: bold;
    cursor: help;
    border-radius: 7px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 450px) {

}
