@import url("../main.css");

ul {
  margin: 0;
  padding: 0 15px;
}
/* ****************************main questions and qcm management********************** */

.container_qcm_and_questions_management {
  display: grid;
  grid-gap: 20px;
  padding: 80px 0 20px;
}

/* ********************** Display questions by qcm *********************** */
.blocIndice {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 40% [col-start] 60%[col-end]);
  /* grid-gap: 20px; */
}
.indiceToShowQuestions {
  padding-left: 5%;
}

/* .blocIndice > p {
  background: #ffac8f;
  width: 80%;
  padding: 15px;
  border-radius: 50px;
  margin: auto;
} */

.blocIndice span {
  background: #ffac8f;
  display: inline-block;
  text-align: center;
  width: 50px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
}
/* .blocIndice span {
  background: #ffac8f;
  display: inline-block;
  text-align: center;
  width: 23px;
  padding: 15px;
  border-radius: 80%;
} */
.bloc_display_question_by_qcm {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 40% [col-start] 60%[col-end]);
  /* grid-gap: 30px; */
  margin: auto;
  border-radius: 5px;
}
.bloc_qcm,
.bloc-toggle-ul-question {
  background: #fff4e4;
  height: 500px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.bloc-toggle-ul-question {
  margin: 0 0 0 30px;
}
.divQcm,
.divQuestions {
  height: 100%;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}
.list_questions,
.list_btn_qcm {
  border-radius: 10px;
}

.list_questions > li {
  padding: 15px 0;
  border-bottom: 1px dashed;
}
.bloc_btns_nav {
  padding: 3% 5%;
  text-align: center;
}

.list_btn_qcm {
  text-align: center;
  margin: 0;
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  border-radius: 5px;
}

.scroll_active {
  overflow-y: scroll;
}
.list_btn_qcm > li {
  padding: 15px 0;

  background: #616161;
  color: white;
  height: 30px;
  border-radius: 5px;
  position: relative;
  width: 70%;
}
/* temporaire */
.list_btn_qcm > li::after {
  content: attr(data-parent); /*voir html*/
  position: absolute;
  /* right: -108px; */
  right: -44%;
  background: var(--pamplemousse);
  width: 40%;
  /* width: 100px; */
  padding: 5px 0;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 14px;
}

.list_questions li span {
  padding: 15px;
  display: inline-block;
  width: 20px;
  border-radius: 60%;
  background: var(--pamplemousse);
  color: white;
  margin-right: 20px;
  text-align: center;
  /* shape-outside: circle(50%) margin-box; */
}
.defaultBg {
  background: var(--pamplemousse) !important;
}
.active_li {
  background: var(--pamplemousse) !important;
}
/******************************* scroll bar***************************** */

/* width */
.scroll_active::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll_active::-webkit-scrollbar-track {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle */
.scroll_active::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 10px;
}
