@import url('../main.css');

.sectionChoice{
    padding: 1em 2em;
    margin: 1em 0 5em 0;
}

select {
    width: 17em;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    cursor: pointer;
    background: var(--fond);
    border: 2px solid var(--grand);
    color: var(--grey);
    font-weight: 500;
    padding: .7em 0
}

.firstSelect, .secondSelect{
    display: flex;
    justify-content: center;
}

.separator{
    width: 69%;
    height: 5px;
    background: var(--fond);
    border-radius: 9px;
    margin: auto;
    margin-top: 3em;
}

.qcmStudent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px dashed var(--grey);
    width: 80%;
    margin: 30px auto;
    padding: 1em 0;
}

.qcmStudent li{
    margin: 0;
}

.studentQcm{
    padding: 0 1em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.liStudent{
    height: 70px;
    display: flex;
    align-items: center;
    margin: .5em 0;
    justify-content: center;
    border-bottom: 2px solid var(--pamplemousse);
    min-width: 25%;
}

.liStudent:hover{
    border-radius: 50px;
    background-color: var(--pamplemousse);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button{
    background-color: var(--grey);
    color: white;
    border-radius: 9px;
    border: none;
    padding: 15px;
    width: 8em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.button:hover{
    background-color: var(--vert);
    font-weight: bold;
    cursor: pointer;
}

.official{
    background-color: var(--grey);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 6em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.difficulty{
    background-color: var(--pamplemousse);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 6em;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
}

.align {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.qcmsTitle{
    border-radius: 30px;
    margin: 0 auto 2em;
    text-align: center;
    padding: .5em;
    color: white;
    font-weight: 500;
    background-color: var(--pamplemousse);
    width: 75%;
}

.overflowX{
    background-color: var(--fond);
    padding: 2em 0;
}

#qcms-module{
    display: none;
    padding: 0 20px;
}

.sectionStudents{
    background-color: var(--fond);
    margin-top: 2em;
    padding: 2em 0;
}

#students-qcm{
    padding: 0 20px;
    margin: 0 0 2em;
}

img{
    height: 50px;
}

.firstName{
    margin-top: 0;
    margin-bottom: 0;
}

#infoHover{
    background-color: var(--pamplemousse);
    color: white;
    padding: 6px;
    font-weight: bold;
    cursor: help;
    border-radius: 7px;
}

#div-legend {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0;
    background: var(--pamplemousse);
    color: white;
    text-align: center;
}

.legendTypeDifficulty{
    width : 10em;
    padding: 10px;
}

.legendDate,
.legendModule,
.legendNote{
    width : 6em;
    padding: 10px;
}

@media screen and (max-width: 780px) {

    .button{
        width: 6em;
    }

    .qcmStudent,
    #div-legend{
        width: 100%;
    }

    .difficulty{
        width: 4em;
    }

    .official{
        width: 5em;
    }

    #session-choice {
        text-transform: none;
        width: 60%;
    }

    #module-choice {
        text-transform: none;
        width: 60%;
    }
}

@media screen and (max-width: 450px) {

    #session-choice,
    #module-choice{
        text-transform: none;
        width: 100%;
    }

    select{
        width: 89%;
    }

    #qcms-module{
        background-color: var(--fond);
        padding: 20px 0;
        margin: 50px 0 0 0;
        width: 100% ;
    }

    .overflowX{
        width: 100vw;
        overflow-x: scroll;
}

    .difficulty, .date, .official{
        width: 5em;
    }

    #div-legend{
        width: 100%;
        flex-direction: column;
    }

    #div-legend li{
        width: 100%;
        border-bottom: 1px solid var(--fond);
    }

    .qcmStudent{
        width: 100%;
        flex-direction: column;
        gap: 1em;
        margin: .2em auto;
    }

    .qcmStudent > :first-child{
        width: 79%;
    }

    .liStudent{
        min-width: 45%;
        padding: 0 .2em;
    }

    .date{
        text-align: center;
        width: 5em;
    }
}























