@import url(public/css/main.css);

/*************************************** CSS sur simple balise HTML **********************************/

.form-question{
    max-width: 100%
}

table{
    margin-left: 5%;
    width: 100%;
}

tr{
    display: flex;
    flex-direction: column;
}

td{
    text-align: left;
}

tbody{
    width: 100%;
}

/********************************************************* CSS SUR LES ELEMENTS DU FORM ***************************************/

#create_question_module{
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    background: var(--fond);
    color: var(--grey);
    font-size: var(--normal);
    box-shadow: 5px 5px 13px -7px var(--grey);
}

#create_question_difficulty{
    margin: auto;
    padding: 20px 60px;
    border: none;
    font-size: var(--grand);
    display: flex;
    justify-content: space-around;
}

#create_question_wording{
    width: 80%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: hidden;
}

#create_question_enabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    background: #fff;
    border: 1px solid #ccc;
}

#create_question_enabled:checked {
    background: var(--vert);
    margin:0px;
    position: relative;
    cursor: pointer;
    border: 1px solid;
}
#create_question_enabled:checked:before {
    font-family: 'Alumni Sans', sans-serif;
    display: block;
    color: grey;
    position: absolute;
}

.div_input_label{
    position: relative;
    width: 100%;
    padding-right: 60px;
}

.difficulty{
    margin: auto;
    padding: 25px 1px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
}
.difficulty > div {
    width: 100%;

}
.div_input_label{
    position: relative;
    width: 25%;
    padding-right: 20px;
}
#create_question_difficulty input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    height: 59px;
    border: 1px solid #ccc;
    margin: 0;
    width: 90%;
}
#create_question_difficulty label{
    position: absolute;
    top: 20%;
    left: 29%;
    color: white;
}

input[type="radio"]{
    background-color: var(--grey);
}

input[type="radio"]:checked {
    background-color: var(--vert);
    margin:0;
}

img{
    width: 50px;
    height: 50px;
}

/************************************************ CSS SUR LES TD **************************************************************/


.premier{
    margin-left: 0;
}

.second{
    margin: auto;
    background-color: #FFF4E4;
    padding: 1em;
    width: 85%;
    border-radius: 10px;
}

.difficulty{
    margin: auto;
    padding: 25px 1px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fond);
}

.premierselect{
    margin:auto;
}

.option{
    margin: auto;
    background-color: var(--fond);
    padding: 25px 1px;
    border-radius: 10px;
    width: 85%;
    text-align: center;
}

.partTitle{
    padding: 50px;
    font-weight: bold;
    font-size: var(--grand);
}

.numeroform{
    background-color: #FFAC8F;
    padding: .5em 1em;
    border-radius: 50%;
    margin-right: 1em;
}

/**************************************************** Partie Proposal ******************************************************************/


.removeProposal, .addProposal{
    background-color: var(--grey);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 3px 9px;
    font-size: var(--small);
    margin-bottom: 15px;
}


.div_proposal{
    text-align: center;
}

.div_proposal label{
    padding: .5em;
}

.div_proposal textarea{
    border-radius: 5px;
    border: none;
    color: grey;
    padding: .5em;
    background: var(--fond);
    width: 100%;
}


.div_proposal:first-child{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}
.div_proposal:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.li_proposal{
    width: 25%;
    text-align: center;
    margin: 1em;
    /*border: 2px solid var(--pamplemousse);*/
    padding: .5em;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px -2px var(--grey);
}


#list_proposal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

/*********************************** HAUT DE LA PAGE + BOUTON VALIDER ***********************************************/

.info_question{
    text-align: center;
}

.valid{
    background-color: #616161;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 300px;;
    font-size: var(--normal);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.required input{
    width: 50px;
}

@media screen and (max-width: 1200px) {

    .buttondiff{
        padding: 5px 35px;;
        font-size: var(--normal);
    }

    .buttondesac{
        padding: 5px 15px;
        font-size: var(--normal);
    }

    .formoption{
        padding: 8px 20px;
    }

    .valid{
        padding: 15px 200px;;
    }

    #create_question_difficulty input[type=radio]{
        text-align: left;
        margin-left: 6px;
        border: none;
    }

    .div_input_label label.required{
        margin-left: -10px;
    }
}

@media screen and (max-width: 780px) {

    table{
        width: 100%;
    }

    .buttondesac{
        padding: 10px 30px;
        font-size: var(--normal);
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .buttondiff{
        padding: 10px 35px;;
        font-size: var(--normal);
    }

    .valid{
        padding: 13px 150px;
    }

    #create_question_module{
        padding: 10px 30px;
        font-size: var(--normal);
    }

    .difficulty{
        padding-bottom: 10px;
    }

    .li_proposal{
        width: 33%
    }

    #create_question_difficulty input[type=radio]{
        width: 120px;
        height: 50px;
        margin-left: 4px;
        border: none;
    }

    tr{
        margin-left: 0;
        max-width: 700px;
    }

    #create_question_difficulty{
        width: 700px;
    }

    img{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .container{
        width: 90%;
    }

    table{
        margin: auto;
        max-width: 450px;
    }


    tr{
        background-color: var(--fond);
        margin-top: 20px;
        padding: 0;
        max-width: 400px;
    }

    #create_question_module, #create_question_difficulty{
        background-color: var(--fond);
        margin-bottom: 20px;
        font-size: var(--semi_small);
        width: 240px;
    }

    .numeroform{
        background-color: var(--pamplemousse);
        padding: 4px 16px;
        border-radius: 50%;
        border: none;
        margin-right: 10px;
    }

    .partTitle{
        padding: 0;
        margin-left: 20%;
    }

    .buttondiff{
        padding: 8px 27px;;
        font-size: var(--semi_small);
    }

    #create_question_wording{
        width: 95%;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid var(--grey);
    }

    li{
        margin-left: 15%;
    }

    tr{
        background-color: white;
    }

    .paddingoption{
        margin-left: 0;
    }

    .li_proposal{
        width: 80%;
    }

    .center{
        text-align: center;
    }
    .addProposal{
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 10px;
    }

    #create_question_difficulty input[type=radio]{
        width: 65px;
        height: 31px;
        border: none;
        margin-left: 4px;
    }

    create_question_difficulty{
        -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
        box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    }

    .difficulty{
        background-color: white;
        box-shadow: none;
    }

    img{
        width: 25px;
        height: 25px;
    }

    .div_input_label label.required{
        margin-left: -4px;
    }

}