@import url("../main.css");

section{
    margin: 50px 0;
}

.etape {
    background-color: var(--pamplemousse);
    font-weight: bold;
    color: var(--fond);
    padding: 0.5em 1em;
    border-radius: 1.5em;
}

ul, .backgroundEtape, .allDate{
    background-color: var(--fond);
    padding: 25px;
    display: flex;
    justify-content: center;
}

#qcm-choice, #module-choice{
    padding: 0.8em;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    border: none;
}

#qcm-choice:hover, #module-choice:hover{
    cursor: pointer;
}

.nameSession{
    -moz-appearance: none;
    border-radius: 7px;
    padding: 1em 200px;
    width: 130px;
    border: 1px solid #ccc;
    background-color: var(--grey);
    height: 70px;
}

.nameSession:checked{
    background-color: var(--vert);
}

.liSession input:hover,
.liSession label:hover{
    cursor: pointer;
}

.liSession label{
    position: relative;
    bottom: 40%;
    right: 17%;
    color: white;
}

.container{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qcm-students{
    display: flex;
    justify-content: space-between;
}

#qcm-students input{
    -moz-appearance: none;
    border-radius: 50px;
    padding: 30px 150px;
    width: 100%;
    background-color: var(--grey);
}

#qcm-students input:checked{
    background-color: var(--pamplemousse);
    font-weight: bold;
}

#qcm-students label{
    position: absolute;
    top: 27%;
    left: 34%;
    color: white;
}

.divStudentOption{
    position: relative;
}

.date{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.date input{
    padding: .2em;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 780px) {
    #qcm-students input {
        width: 50%;
        padding: 25px 130px;
    }

    #qcm-students{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #qcm-students label{
        top: 24%;
        left: 28%;
    }
}


@media screen and (max-width: 450px) {
    #qcm-choice, #module-choice{
        width: 60%;
    }

    #qcm-students{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #qcm-students input {
        width: 100%;
        padding: 23px 0;
    }

    #qcm-students label{
        left: 36%;
        top: 21%;
    }

    .date{
        padding: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .allDate{
        display: flex;
        flex-direction: column;
    }

    .choixClasse{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .nameSession{
        width: 100%;
    }

    li label{
        bottom: 17%;
        left: 39%;
    }

    .liSession label{
        position: relative;
        bottom: 18%;
        right: 17%;
        color: white;
    }
}