body {
  position: relative;
  margin: 0;
}

.accueilDiv {
  margin: 20px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hrefDiv {
  margin: auto;
  background-color: var(--pamplemousse);
  padding: 1em 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px gray;
  width: 90%;
}

.hrefDecorationDiv {
  border-bottom: 2px solid var(--fond);
  padding: 36px;
}
.hrefDecorationDiv:hover {
  border-radius: 10px;
  border: 2px solid var(--fond);
  padding: 35px;
}

.accueilA {
  width: 100%;
  display: inline-block;
  font-weight: 600;
}

.flash-notice > div {
  background: var(--pamplemousse);
  padding: 20px 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  align-self: center;
  width: 30%;
  padding: 20px 0;
  text-align: center;
}
/* .flash-notice > div:active {
  display: none;
} */

.flash-notice span {
  font-size: 15px;
  color: grey;
}

.flash-notice {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  bottom: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* temporaire */

.sectionThree {
  background: var(--fond);
  border-radius: 20px;
  padding: 30px;
  margin: auto 30px;
  text-align: center;
}

.sectionOne,
.sectionTwo,
.sectionThrees,
.sectionFour{
  background: var(--fond);
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  text-align: center;
}

.sectionThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-column: 1/3;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 780px) {
  .hrefDiv{
    width: 70%;
    height: 80%;
  }

  .accueilDiv{
    margin: 20px auto 70px auto;
  }
}

@media screen and (max-width: 450px) {

    .container{
      width: 450px;
    }

    .sectionThree{
      grid-template-columns: repeat(1, 1fr);
      width: 73%;
    }

  .sectionThree .hrefDiv{
      width: 70%;
  }

  .accueilDiv{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionOne{
    width: 73%;
    margin: 10px auto;
  }

  .sectionTwo{
    width: 73%;
    margin: 10px auto 60px auto;
  }

}


