
.container {
  width: 90%;
  margin: auto;
}

.flashMessage {
  padding: 1em;
  background: #fff4e4;
  margin-bottom: 0.5em;
  color: green;
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
}
