@import url(main.css);


.form-question{
    max-width: 100%
}

table{
    margin-left: 5%;
    width: 100%;
}

.numeroform{
    background-color: var(--pamplemousse);
    padding: 8px 17px;
    border-radius: 50%;
}

p{
    padding: 50px;
    font-weight: bold;
    font-size: 1.3em;
}

tr{
    display: flex;
    flex-direction: column;
}

td{
    text-align: left;
}

tbody{
    width: 100%;
}

.premier{
    margin-left: 0;
}

.second{
    margin: auto;
    background-color: var(--fond);
    padding: 25px 1px;
    width: 85%;
    border-radius: 10px;
}

.difficulty{
    margin: auto;
    padding: 25px 1px;
    width: 85%;
    display: flex;
    justify-content: space-around;
}
.difficulty > div {
    width: 100%;

}
.div_input_label{
    position: relative;
    width: 25%;
}
#create_question_difficulty input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    height: 59px;
    border: 1px solid #ccc;
    margin: 0;
    width: 100%;
}
#create_question_difficulty label{
    position: absolute;
    top: 20%;
    left: 29%;
}

input[type="radio"]:checked {
    background: yellow;
    margin:0;
}

/*input[type="radio"]:checked:before {*/
/*     display: block;*/
/*     color: grey;*/
/*     font-size: 13px;*/
/*     position: absolute;*/
/*}*/


#create_question_wording{
    width: 80%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: hidden;
}

.premierselect{
    margin:auto;
}

#create_question_module, #create_question_difficulty{
    margin: auto;
    padding: 20px 60px;
    border: none;
    background-color: var(--fond);;
    font-size: 1.3em;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    display: flex;
    justify-content: space-around;
}

.removeProposal{
    background-color: var(--grey);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 1px 3px;
    font-size: 0.7em;
    height: 30px;
    margin-left: 10px;
}

#addProposal{
    color: var(--writing);
    padding: 1px 14px 6px 14px;
    border-radius: 50%;
    border: 4px solid var(--writing);
    font-size: 2em;
    background-color: var(--fond);
    margin: auto;

}

li{
    margin-left: 35%;
}

.required, label{
    color: var(--grey);
    font-weight: bold;
    margin: auto;
}

.buttondesac{
    background-color: var(--grey);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 5px 15px;
    font-size: 1.2em;
}
.buttondiff{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 7px 49px;;
    font-size: 1.2em;
}

.valid{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 300px;;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.formoption{
    background-color: var(--pamplemousse);;
    padding: 12px 30px;
    border-radius: 50%;
}

.paddingoption{
    padding-left: 25px;
}

.li_proposal{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px;
}

.div_wording{
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
}

.p_letter{
    background-color: var(--grey);
    padding: 8px 17px;
    border-radius: 50%;
    color: white;
    margin-right: 15px;
}

#errorChecked{
    display: flex;
    justify-content: flex-start
}
.div_proposal{
    display: flex;
    align-items: center;
}

#create_question_enabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    background: #fff;
    border: 1px solid #ccc;
}

#create_question_enabled:checked {
    background: var(--vert);
    margin:0px;
    position: relative;
    cursor: pointer;
    border: 1px solid;
}
#create_question_enabled:checked:before {
     font-family: 'Alumni Sans', sans-serif;
     display: block;
     color: grey;
     font-size: 13px;
     position: absolute;
 }

.option{
    margin: auto;
    background-color: var(--fond);
    padding: 25px 1px;
    border-radius: 10px;
    width: 85%;
    text-align: center;
}



@media screen and (max-width: 1200px) {

    .buttondiff{
        padding: 5px 35px;;
        font-size: 1em;
    }

    .buttondesac{
        padding: 5px 15px;
        font-size: 1em;
    }

    .formoption{
        padding: 8px 20px;
    }

    .valid{
        padding: 15px 200px;;
    }
}

@media screen and (max-width: 780px) {

    table{
        width: 100%;
    }

    .buttondesac{
        padding: 10px 30px;
        font-size: 0.9em;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .buttondiff{
        padding: 10px 35px;;
        font-size: 0.9em;
    }

    .valid{
        padding: 13px 150px;
    }

    #question_module{
        padding: 10px 30px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 450px) {

    .container{
        max-width: 90%;
    }

    table{
        margin: auto;
    }

    tr{
        background-color: var(--fond);
        margin-top: 20px;
        padding: 0;
    }

    #create_question_module, #create_question_difficulty{
        background-color: var(--fond);
        margin-bottom: 20px;
        font-size: 0.8em;
    }

    .numeroform{
        background-color: var(--pamplemousse);
        padding: 4px 16px;
        border-radius: 50%;
        border: none;
    }

    p{
        padding: 0;
        margin-left: 20%;
    }

    .buttondiff{
        padding: 8px 27px;;
        font-size: 0.7em;
    }

    #question_wording{
        width: 95%;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid var(--grey);
    }

    li{
        margin-left: 15%;
    }

    tr{
        background-color: white;
    }

    .paddingoption{
        margin-left: 0;
    }

    .div_proposal, .li_proposal, .div_wording, #errorChecked{
        flex-direction: column;
    }

    .div_wording{
        padding: 0;
    }

    .p_letter{
        text-align: center;
    }

    .li_proposal{
        text-align: center;
        padding: 0;
    }

    .div_wording textarea{
        width: 200px;
        height: 50px;
        margin: 15px auto;

    }
    .div_wording .p_letter{
        width: 10px;
        margin: auto auto 25px auto;
    }

    .removeProposal{
        width: 150px;;
        margin: 15px auto 50px auto;
        display: block;
    }

    #addProposal{
        font-size: 1.4em;
        border: 1px solid;
        padding: 2px 9px 4px 9px;
    }

    #list_proposal{
        padding-left: 0;
    }
}