@import url(main.css);
.difficulty_icone{
    max-width: 2em;
    width: 1em;
    background: var(--fond);
    height: auto;
    padding: .5em;
    border-radius: 50%;
    margin: 0;
}

.div_chevron{
    justify-content: flex-end;
    display: flex;
    flex-grow: 2;
}

.img_chevron{
    max-width: 2em;
    width: 1.2em;
    height: auto;
    padding: .5em;
    border-radius: 50%;
    margin: 0;
    text-align: right;
    cursor: pointer;
}

.button_modify{
    max-width: 2.5em;
    padding: .2em;
    margin-left: 1em;
    border-radius: 5px;
    background-color: var(--fond);
    box-shadow: 3px 3px 8px -3px var(--grey);
    cursor: pointer;
}

.div_questions {
    background-color: var(--fond);
    border-radius: 5px;
    padding: 2em;
    color: var(--grey);
    width: 75%;
    margin:auto;
}

.ul_questions {
    border: 1px solid var(--fond);
    padding: 2em;
    border-radius: 5px;
    background-color: white;

}
.div_question{
    margin: 1em auto;
    display: flex;
}
.li_wording {
    background-color: var(--pamplemousse);
    padding: .7em;
    border-radius: 5px 5px 0 0;
    list-style: none;
    font-family: "Alumni Sans", serif;
    display: flex;
    align-items: center;
    width: 90%;
}

.difficulty{
    margin: 0 5px 0 0;
}

.div_add{
    text-align: center;
}
.button_add {
    background-color: var(--vert);
    border-radius: 50px;
    border: 1px solid var(--fond);
    padding: 1em;
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    box-shadow: 5px 5px 8px -4px gray;
    font-size: var(--normal);
    width: 40%;

}

.span_question{
    font-weight: 600;
}

.div_proposals{
    display: flex;
    justify-content: space-around;
    background-color: var(--fond);
    border-radius: 0 0 5px 5px;
    margin-top: .1em;
}

@media screen and (max-width: 1200px) {

    .li_wording {
        background-color: var(--pamplemousse);
        padding: .7em;
        border-radius: 5px 5px 0 0;
        list-style: none;
        font-family: "Alumni Sans", serif;
        display: flex;
        align-items: center;
        width: 80%;
    }

    .div_question{
        margin: 1em auto;
        display: flex;
    }

    .button_modify{
        max-width: 4.5em;
        padding: .2em;
        margin-left: 1em;
        border-radius: 10px;
        background-color: var(--fond);
        box-shadow: 3px 3px 8px -3px var(--grey);
        cursor: pointer;
    }
}

@media screen and (max-width: 780px) {

    .div_questions {
        background-color: var(--fond);
        border-radius: 5px;
        padding: 2em;
        color: var(--grey);
        width: 75%;
        margin:auto;
    }

    .li_wording {
        background-color: var(--pamplemousse);
        padding: 1.3em;
        border-radius: 5px 5px 0 0;
        list-style: none;
        font-family: "Alumni Sans", serif;
        display: flex;
        align-items: center;
        width: 80%;
    }

    .div_question{
        margin: 1em auto;
        display: flex;
    }

    .ul_questions {
        border: 1px solid var(--fond);
        padding: 2em;
        border-radius: 5px;
        background-color: white;
    }

}

@media all and (max-width: 450px) {

    .div_questions {
        background-color: var(--fond);
        border-radius: 5px;
        padding: 2em;
        color: var(--grey);
        width: 105%;
        margin:auto;
        display: inline-block;
        text-align: center;
    }

    .li_wording {
        background-color: var(--pamplemousse);
        padding: 1.3em;
        border-radius: 5px 5px 0 0;
        list-style: none;
        font-family: "Alumni Sans", serif;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .div_question{
        margin: 1em auto;
        display: flex;
    }

    .ul_questions {
        border: 1px solid var(--fond);
        padding: 2em;
        border-radius: 5px;
        background-color: white;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

}