@import url("main.css");

header {
  display: grid;
  grid-template-columns: repeat(
    3,
    15% [col-start] 70% [col-middle] 15%[col-end]
  );
  background: var(--fond);
  padding: 25px 0;
}

/**************************************** LOGO ********************************************************/

.logo {
}

/**************************************** MENU AVEC LES DEUX "BOUTONS" *************************************************/

.choix {
  background-color: var(--pamplemousse);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin: auto;
  grid-gap: 40px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
}

.tab {
  border-bottom: 2px solid var(--fond);
  padding: 22px;
  text-align: center;
  font-weight: 600;
  color: var(--grey);
}

.qcm {
  border-bottom: 2px solid var(--fond);
  padding: 22px;
  text-align: center;
  font-weight: 600;
  color: var(--grey);
}

.choix a:hover,
.qcmGiven:hover,
.creation:hover {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--fond);
}

.qcmGiven,
.creation {
  border-bottom: 2px solid var(--fond);
  padding: 22px;
  text-align: center;
  font-weight: 600;
  color: var(--grey);
  display: none;
}
.activeBorderLinkNav {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--fond);
}
/************************************** RECTANGLE ELEVE DYNAMIQUE HAUT A DROITE **********************************/

.eleve {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.helloStudent {
  font-weight: bold;
  font-size: var(--normal);
  padding: 10px 0;
  align-self: center;
}
.logOut {
  align-self: center;
}
.imgLogOut {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .logo {
  }

  .choix {
  }

  .qcm {
  }

  .tab {
  }
}

@media screen and (max-width: 780px) {
  .logo {
  }

  .choix {
  }

  .tab {
  }

  .helloStudent {
  }
}

@media screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  .logo {
    margin: 25px auto 0 auto;
  }
}

/* ERRORS */
.errorBorder {
  border: 1px solid tomato;
}

.errorMsg {
  color: tomato;
}