@import url('main.css');

header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: white;
    top: 0;
    z-index: 100;
    gap: .5em;
}

/**************************************** LOGO + REOPRT BUB ********************************************************/
.part1{
    display: flex;
    gap: 3em;
}

.logo{
    height: 57px;
    width: 100px;
}

#reportBugBtn{
    background-color: var(--pamplemousse);
    color: var(--grey);
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 10em;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: bold;
}


#reportBugBtn:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: var(--fond);
}

/**************************************** MENU AVEC LES DEUX "BOUTONS" *************************************************/

.choice{
    background-color: var(--pamplemousse);
    border-radius: 13px;
    padding: 13px 0;
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    position: absolute;
}

.choice a {
    width: 50%;
    border: 2px solid var(--fond);
    border-radius: 13px;
    text-align: center;
    font-weight: bold;
    padding: .5em 0;
    margin: 0 10px;
}


.choice a:hover{
    background-color: var(--fond);
}

/************************************** RECTANGLE ELEVE DYNAMIQUE HAUT A DROITE **********************************/

.part3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
}

.eleve{
    min-width: 180px;
    border: 2px solid var(--pamplemousse);
    background-color: var(--fond);
    display: flex;
    align-items: center;
    padding: .5em 1.2em;
    border-radius: 5px;
}

.logOut{
    text-align: center;
}

.logOut a{
    display: block;
    width:60%;
    margin: auto;
}

.imgLogOut{
    margin: 0;
    width: 100%;
}

.helloStudent{
    font-weight: bold;
    font-size: var(--normal);
    margin: auto;
}

@media screen and (max-width: 1200px) {

    .part1{
        gap : .5em;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        min-width: 150px;
    }

    #reportBugBtn{
        padding: 5px;
        margin: 0;
    }

    .choice{
        min-width: 30%
    }

    .part3{
        flex-direction: column-reverse;
    }

    .eleve{
        padding: .2em 1.2em;
    }

    .qcm{
        height: 20px;
        padding: 13px 80px;
    }

    .tab{
        height: 20px;
        width: 100px;
        padding: 13px 50px;
    }
}

@media screen and (max-width: 780px) {

    header{
        align-items: end;
        margin-top: 1em;
    }

    .part1, .part3{
        width: 25%;
    }

    .logo{
        width: 20%;
    }

    .choice{
        flex-direction: column;
        gap: .5em;
        width: 30%;
    }

    .choice a{
        width: 78%;
        margin: 0;
    }

    .eleve{
        padding: .2em 0;
    }

    .tab{
        width: 190px;
    }

}

@media screen and (max-width: 450px) {
    header{
        flex-direction: column;
        margin: auto;
        gap: 1em;
        align-items: center;
    }

    .part1, .part3{
        width: 100%;
    }

    .choice{
        position: initial;
        width: 100%;
    }

    .eleve{
        width: 65%;
    }

    .choice a{
        width: 85%;
    }

    .tab{
        width: 300px;
    }

    .part3{
        gap: 0;
        flex-direction: revert;
    }
}

/* ERRORS */
.errorBorder {
    border: 1px solid tomato;
}

.errorMsg {
    color: tomato;
}

.successBorder {
    border: 1px solid var(--vert);
}

.successMsg {
    color: var(--vert);
}