@import url('main.css');

header{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 50px 20px;
  align-items: center;
}

/**************************************** LOGO ********************************************************/

.logo{
  width: 170px;
  height: 80px;
}

/**************************************** MENU AVEC LES DEUX "BOUTONS" *************************************************/

.choix{
  background-color: var(--pamplemousse);
  border-radius: 13px;
  padding: 13px 0;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: 180px;
  align-items: center;
}

.choix a {
  width: 50%;
  border: 2px solid var(--fond);
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
  padding: 1em 0;
  margin: 10px
}


.choix a:hover{
  background-color: var(--fond);
}

/************************************** RECTANGLE ELEVE DYNAMIQUE HAUT A DROITE **********************************/

.eleve{
  width: 350px;
  border: 2px solid var(--pamplemousse);
  background-color: var(--fond);
  display: flex;
  align-items: center;
  padding: .5em 0;
}

.imgLogOut{
  margin: 0;
}

.helloStudent{
  font-weight: bold;
  font-size: var(--normal);
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .logo{
    width: 150px;
    height: 70px;
  }

  .choix{
    height: 100%;
    width: 40%;
    margin-left: 110px;
  }

  .eleve{
    height: 70px;
    width: 250px;
  }

  .qcm{
    height: 20px;
    padding: 13px 80px;
  }

  .tab{
    height: 20px;
    width: 100px;
    padding: 13px 50px;
  }
}

@media screen and (max-width: 780px) {
  .logo{
    width: 20%;
    height: 10%;
    margin-top: 40px;
  }

  .choix{
    height: 100%;
    width: 40%;
    margin-left: 50px;
    flex-direction: column;
    padding: 12px;
  }

  .choix a{
    width: 78%;
  }

  .tab{
    width: 190px;
  }

  .eleve{
    height: 60px;
    width: 200px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .helloStudent{
    margin-top: 18px;
  }
}

@media screen and (max-width: 450px) {
  header{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  .eleve{
    width: 98%;
    margin: 0 0 15px 0;
  }

  .choix{
    width: 93%;
    margin: 0 0 15px 0;
  }

  .choix a{
    width: 85%;
  }

  .tab{
    width: 300px;
  }

  .logo{
    margin: 25px auto 0 auto;
    width: 190px;
    height: 90px;
  }
}

/* ERRORS */
.errorBorder {
  border: 1px solid tomato;
}

.errorMsg {
  color: tomato;
}