@import url("normalize.css");

/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  /*COLOR*/
  --fond: #fff4e4;
  --pamplemousse: #ffac8f;
  --grey: #616161;
  --writing: #414141;
  --vert: #93ad6e;
  --rose: #ffd2c2;

  /*FONT-SIZE*/
  --grand: 24px;
  --normal: 20px;
  --semi_normal: 18px;
  --semi_small: 14px;
  --small: 10px;

  /*FONT-WEIGHT*/
  --semi_bold: 600;
}

body {
  background-color: white;
  color: var(--grey);
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
}
/* 
.container{
    width: 85%;
    margin: auto;
} */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--grey);
  font-family: "Alumni Sans", sans-serif;
}

h1 {
  font-family: "Alumni Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 2.5em 0;
  margin: 0;
  background: var(--fond);
  width: 100%;
}

pre {
  background-color: #2d3336;
  color: #d2ccc9;
  padding: 16px;
  border-radius: 8px;
}

/**************************CIRCLES***************************/

.circle {
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  margin: 0;
}

.orangeCircle {
  background-color: var(--pamplemousse);
  margin-right: 15px;
  height: 60px;
  width: 60px;
  color: var(--fond);
}

.smallOrangeCircle {
  background-color: var(--pamplemousse);
  height: 50px;
  width: 50px;
}

.whiteCircle {
  background-color: white;
  margin-right: 8px;
}

.greyCircle {
  background-color: var(--grey);
  color: white;
}

.greenCircle {
  background-color: var(--vert);
  color: white;
}

/**************************UTILS***************************/

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/**************************BUTTONS***************************/

.button{
  background-color: var(--grey);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px;
  width: 10em;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Alumni Sans', sans-serif;
}


.button:hover{
  font-weight: bold;
  cursor: pointer;
}

.smallButton {
  width: 27%;
}

.mediumButton {
  width: 70%;
  padding: 1em 0;
  font-weight: bold;
}

.largeButton {
  width: 100%;
  padding: 1em 0;
  font-weight: bold;
  font-size: var(--normal);
}

.badgeButton {
  width: 100%;
}

.trainingButton {
  position: absolute;
  bottom: -60px;
  left: 17.25%;
}

.greyButton {
  background-color: var(--grey);
  color: white;
}

.greyButton:hover {
  background-color: var(--vert);
}

.marginTopButton {
  margin-top: 20px;
}

.greenButton {
  background-color: var(--vert);
  font-size: var(--normal);
}

.boldGreyButton {
  background-color: var(--grey);
  box-shadow: 5px 5px 8px -4px gray;
  border: 1px solid var(--fond);
}

.greyButton:hover {
  background-color: var(--vert);
  font-weight: bold;
  box-shadow: none;
}

.fondBoldButton {
  background-color: var(--fond);
  color: var(--writing);
  font-size: var(--normal);
  border-radius: 13px;
  padding: 10px 115px;
  width: 54%;
}

.fondBoldButton:hover {
  background-color: var(--vert);
  font-weight: bold;
  color: white;
}

.statsButton {
  width: 67%;
}

/**************************REPORTBUG***************************/

#reportBugBtn{
  background-color: var(--pamplemousse);
  color: var(--grey);
  border-radius: 50px;
  border: none;
  padding: 10px;
  width: 10em;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: bold;
}


#reportBugBtn:hover{
  font-weight: bold;
  cursor: pointer;
  background-color: var(--fond);
}

#reportBugModale, #statsModale {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #333333d3;
  backdrop-filter:blur(5px);
}

#statsModale {
  display: none;
}

#reportBugModale > div, #statsModale > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 360px;
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}

#reportBugModale form, #statsModale form {
  width: 100%;
}

#closeReportBugModaleBtn, #closeStatsModaleBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}

#closeReportBugModaleBtn:hover, #closeStatsModaleBtn:hover {
  background-color: tomato;
  cursor: pointer;
}

#reportBugMsg {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  resize : none;
  width: 100%;
}

.errorSubmitBtn {
  background-color: var(--vert);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px;
  width: 10em;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Alumni Sans', sans-serif;
}

.errorSubmitBtn:hover {
  font-weight: bold;
  cursor: pointer;
}

#bugReportMessage {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 48px;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--fond);
  font-weight: bold;
  border-width: 2px;
}

#searchResults{
  width: 90%;
  background-color: var(--fond);
  border: 1px solid var(--writing);
  margin: 20px auto;
  text-align: left;
  padding: 1em;
  border-radius: 8px;
  height: 59%;
  overflow-y: scroll;
}

#searchResults li{
  padding: 8px;
  margin: 15px auto;
  font-size: 1em;
}

#searchResults li:hover{
  cursor: pointer;
  background-color: var(--pamplemousse);
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

/*.stats {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/**************************RECTANGLES***************************/


.Rectangle {
  background-color: var(--pamplemousse);
  padding: 20px 10px;
  text-align: left;
  border-radius: 8px;
  margin-right: 1em;
  width: fit-content;
}

.largeRectange {
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************STEPS***************************/

.step {
  background: #ffac8f;
  display: inline-block;
  text-align: center;
  width: 50px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
}

.mediumStep {
  padding: 0.5em 1em;
}

.largeStep {
  padding: 15px 25px;
}

/**************************OTHER***************************/



@media screen and (max-width: 780px) {

  #closeReportBugModaleBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7em;
  }

}

@media screen and (max-width: 450px) {

  #closeReportBugModaleBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px;
    width: 4em;
  }

}