/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: white;
    color: var(--grey);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
}
.container{
    width: 85%;
    margin: auto;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey);
    font-family: 'Alumni Sans', sans-serif;
}

h1{
    font-family: 'Alumni Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 2em 0;
}

pre  {
    background-color: #2d3336;
    color: #d2ccc9;
    padding: 16px;
    border-radius: 8px;
}

:root {
    /*COLOR*/
    --fond: #FFF4E4;
    --pamplemousse: #FFAC8F;
    --grey:#616161;
    --writing:#414141;
    --vert:#93AD6E;
    --rose:#FFD2C2;

    /*FONT-SIZE*/
    --grand: 24px;
    --normal: 20px;
    --semi_normal: 18px;
    --semi_small: 14px;
    --small: 10px;



    /*FONT-WEIGHT*/
    --semi_bold: 600;
}

@media screen and (max-width: 450px) {
    .container{
        width: 93%;
    }
}

