{% extends 'base.html.twig' %}

{% block title %}Admin - stats{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/welcome_instructor.css') }}">
{% endblock %}

{% block body %}
    <h1>- Statistiques -</h1>
    <div class="accueilDiv">
        <div class="sectionOne">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="{{ path('admin_stats_modules')}}" class="accueilA">Modules</a>
                </div>
            </div>
        </div>
        <div class="sectionOne">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="#" data-searchtype="session" class="accueilA searchBtn">Sessions</a>
                </div>
            </div>
        </div>
        <div class="sectionOne">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="#" data-searchtype="apprenant" class="accueilA searchBtn">Apprenants</a>
                </div>
            </div>
        </div>
        <div class="sectionOne">
            <div class="hrefDiv">
                <div class="hrefDecorationDiv">
                    <a href="#" data-searchtype="formateur" class="accueilA searchBtn">Formateurs</a>
                </div>
            </div>
        </div>
    </div>

    <div id="statsModale">
        <div class="stats">
            <button id="closeStatsModaleBtn" class="button">{{ 'button.close'|trans }}</button>
            <h3>Rechercher</h3>
            <input type="search">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/statsModale.js') }}"></script>
{% endblock %}