{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/instructorIndex.css') }}">
{% endblock %}

{% block title %}Hello InstructorController!{% endblock %}

{% block body %}

    <form action="">
        <select name="" id="">
            {% for module in modules %}
                <option value="module.id">module.name</option>
            {% endfor %}
        </select>
    </form>

{% endblock %}