{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('css/instructor/intructorIndex.css') }}">#}
{#{% endblock %}#}

{% block title %}Instructor dashboard{% endblock %}

{% block body %}
    <section>
        <h1>Instructor dashboard</h1>
    </section>
{% endblock %}