{% extends 'base.html.twig' %}

{% block title %}Hello InstructorController!{% endblock %}

{% block body %}

    <ul>
        {% for question in questions %}
            <li>{{ question.wording }}</li>

        {%endfor%}
    </ul>

{% endblock %}
