{% extends 'base.html.twig' %}

{% block title %}Hello InstructorController!{% endblock %}

{% block body %}

    <ul>
        {% for question in questions %}
            <li>{{ question.wording }}</li>

            {% for proposal in proposals  %}

                {% if question.id === proposal.question_id %}

                    <p>{{proposal.wording}}</p>

                {% endif %}

            {% endfor %}

        {%endfor%}
    </ul>

{% endblock %}
