{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/instructor/instructorIndex.css') }}">
{% endblock %}



{% block title %}{{ 'title.listQuestions'|trans }}{% endblock %}

{% block body %}
    <h1>Instructor</h1>

{% endblock %}

{% block javascripts %}

{% endblock %}