
.containerLegend,
.containerLevel{
    margin: 1em 0;
}

/*********************************************************************************/
/*Legends*/

.etape{
    padding: 1em 0;
    font-weight: 600;
    margin: 0;
}

.etape span{
    background-color: var(--pamplemousse);
    padding: 20px 0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    width: 4%;
    text-align: center;
    color: var(--fond);
}

.DivImgLegend{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    height: 82px;
    width: 1500px;
}

img{
    width: 5%;
    height: 97%;
}

.divModule img{
    width: 5%;
    height: 35%;
    margin-right: 50px;
}

.divLegend{
    display: flex;
    justify-content: space-around;
    background: var(--fond);
    border-radius: 13px;
}

.pLegend{
    padding: .2em;
    background: var(--rose);
    border-radius: 5px;
    width: 16%;
    text-align: center;
    font-weight: 500;
}

/*********************************************************************************/
/*Level*/

.divLevel{
    display: flex;
    justify-content: space-around;
}

.divpLegend{
    display: flex;
    justify-content: space-around;
}

.divModule{
    display: flex;
    justify-content: space-around;
    background: var(--fond);
    align-items: center;
    border-radius: 7px;
    padding: .7em;
    width: 65%;
    margin-bottom: 1em;
}

.moduleName {
    background: var(--pamplemousse);
    padding: 5em 0;
    width: 64%;
    text-align: center;
    border-radius: 5%;
}

/*Link*/
.divLink{
    width: 30%;
}

.divLink h4 {
    text-align: center;
    border-bottom: 3px solid var(--vert);
    width: 67%;
    margin: 1em auto;
}

.divLink div {
    background: var(--fond);
    text-align: center;
    padding: 1em 0;
    border-radius: 5px;
}

.divLink p {
    padding: .5em;
    background: var(--grey);
    color: white;
    width: 63%;
    margin: .5em auto;
    border-radius: 30px;
    box-shadow: 3px 2px 5px -1px var(--grey);
}

@media screen and (max-width: 1200px) {
    .DivImgLegend {
        width: 1000px;
    }

    img {
        width: 8%;
        height: 90%;
    }

    .divLink {
        margin-left: 50px;
    }

    .divModule img {
        width: 7%;
        height: 31%;
        margin-right: 23px;
    }

    .moduleName {
        width: 75%;
    }

    .etape span {
        width: 6%;
    }

    .DivImgLegend img:first-child{
        width: 5%;
        height: 90%;
    }
}

@media screen and (max-width: 780px) {

    .DivImgLegend {
        width: 700px;
    }

    .etape span {
        width: 9%;
    }

    .divModule img {
        width: 11%;
        height: 33%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 450px) {

    .DivImgLegend {
        width: 400px;
        margin-left: 33px;
    }

    .DivImgLegend img:first-child {
        width: 9%;
        height: 90%;
    }

    img {
        width: 14%;
        height: 97%;
    }

    .divLevel {
        display: flex;
        flex-direction: column;
    }

    .divModule {
        width: 93%;
    }

    .divLink {
        margin-bottom: 80px;
        margin-left: 0;
        width: 100%;
        border-bottom: 2px dashed var(--writing);
    }

    .etape span {
        width: 13%;
    }
}




