
.containerLegend,
.containerLevel{
    margin: 1em 0;
}

/*********************************************************************************/
/*Legends*/

.etape{
    padding: 1em 0;
    font-weight: 600;
    margin: 0;
}

.etape span{
    background-color: var(--pamplemousse);
    padding: 20px 0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    width: 4%;
    text-align: center;
    color: var(--fond);
}

img{
    width: 25%;
    height: 97%;
}

.decouvre{
    width: 13%;
}

.divModule img{
    width: 5%;
    height: 35%;
    margin-right: 50px;
}

.divLegend{
    display: flex;
    justify-content: space-around;
    background: var(--fond);
    border-radius: 13px;
    align-items: center;
    text-align: center;
}

.imgLegend{
    width: 24%;
    padding: 1em;
}

.pLegend{
    background-color: var(--rose);
    padding: 6px 18px;
    border-radius: 8px;
    width: fit-content;
    margin: 15px auto auto auto;
}
/*********************************************************************************/
/*Level*/

.divLevel{
    display: flex;
    justify-content: space-around;
}

.divpLegend{
    display: flex;
    justify-content: space-around;
}

.divModule{
    display: flex;
    justify-content: space-around;
    background: var(--fond);
    align-items: center;
    border-radius: 7px;
    padding: .7em;
    width: 65%;
    margin-bottom: 1em;
}

.moduleName {
    background: var(--pamplemousse);
    padding: 5em 0;
    width: 64%;
    text-align: center;
    border-radius: 5%;
}

/*Link*/
.divLink{
    width: 30%;
}

.divLink h4 {
    text-align: center;
    border-bottom: 3px solid var(--vert);
    width: 67%;
    margin: 1em auto;
}

.divLink div {
    background: var(--fond);
    text-align: center;
    padding: 1em 0;
    border-radius: 5px;
}

.divLink p {
    padding: .5em;
    background: var(--grey);
    color: white;
    width: 63%;
    margin: .5em auto;
    border-radius: 30px;
    box-shadow: 3px 2px 5px -1px var(--grey);
}

@media screen and (max-width: 1200px) {
    img {
        height: 90%;
        width: 25%;
    }

    .divLink {
        margin-left: 50px;
    }

    .divModule img {
        width: 7%;
        height: 31%;
        margin-right: 23px;
    }

    .moduleName {
        width: 75%;
    }

    .etape span {
        width: 6%;
    }

    .DivImgLegend img:first-child{
        width: 5%;
        height: 90%;
    }
}

@media screen and (max-width: 780px) {


    .etape span {
        width: 9%;
    }

    img{
        width: 44%
    }

    .decouvre{
        width: 22%;
        height: 98%;
    }
}

@media screen and (max-width: 450px) {

    img{
        width: 60%
    }

    .decouvre{
        width: 28%;
    }

    .imgLegend{
        height: 95%;
        padding: 10px;
    }

    .divLevel {
        display: flex;
        flex-direction: column;
    }

    .divModule {
        width: 93%;
    }

    .divLink {
        margin-bottom: 80px;
        margin-left: 0;
        width: 100%;
        border-bottom: 2px dashed var(--writing);
    }

    .etape span {
        width: 13%;
    }
}




