
/**********************************************************************************************************************/
/*TimeLine*/

.containerTimeLine{
    background: var(--fond);
    position: relative;
    margin: 5em 0;
    border-radius: 5px;
    overflow-x: scroll ;
    box-shadow: 0 0 24px -2px var(--grey);
}

.timeLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    height: 18.9em;
    border-radius: 5px;
    overflow-x: hidden;
}

.isOfficialQcm{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 14em;
    padding: 0;
    margin: 1em 0;
    position: relative;
}

.isOfficialQcmOdd{
    align-self: end;
    flex-direction: column-reverse;
    margin: 1em auto;
}

/*.timeLine div:nth-child(odd){*/
/*    align-self: end;*/
/*    flex-direction: column-reverse;*/
/*    margin: 1em auto;*/
/*}*/

.infoTimeLine{
    padding: .5em 0;
    border-radius: 13px;
    width: 90%;
    text-align: center;
    margin: .2em 0;
}

.moduleTitle{
    border: 1px solid var(--pamplemousse);
    z-index: 1;
    background: var(--fond);
}

.iTrainning{
    background-color: var(--pamplemousse);
    z-index: 1;
}
.iTrainning:hover{
    cursor: pointer;
}

.passOrNot{
    width: 18%;
    background: var(--pamplemousse);
    text-align: center;
    border-radius: 50%;
    padding: 5% 0;
    z-index: 1;
}

.lineX{
    height: .2em;
    background: var(--grey);
    position: absolute;
    top: 49%;
    border-radius: 13px;
}
.lineY{
    background: var(--grey);
    width: .1em;
    height: 5em;
    position: absolute;
}

.pBadge{
    position: relative;
    bottom: -7em;
    width: 17%;
    border: 1px solid var(--pamplemousse);
    border-radius: 30px;
    padding: .1em 1em;
    background: var(--fond);
}

.wrong{
    width: 2em;
}

.imgYouUp{
    width: 4em;
}


/************************************************************************/
/*CUSTOM SCROLL*/

/* Works on Firefox */
.containerTimeLine{
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--fond);
}

/* Works on Chrome, Edge, and Safari */
.containerTimeLine::-webkit-scrollbar {
    width: 12px;
}

.containerTimeLine::-webkit-scrollbar-track {
    border-radius: 5px;
}

.containerTimeLine::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 20px;
    border: 3px solid var(--grey);
}



/**********************************************************************************************************************/
/*TimeLine*/

/*.containerTimeLine{*/
/*    background: var(--fond);*/
/*    position: relative;*/
/*    margin: 5em 0;*/
/*    border-radius: 5px;*/
/*}*/

/*.timeLine{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: flex-start;*/
/*    align-items: baseline;*/
/*    overflow-x: scroll ;*/
/*    width: 100%;*/
/*    box-shadow: 0 0 24px -2px var(--grey);*/
/*    border-radius: 5px;*/
/*}*/

/*.isOfficialQcm{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    min-width: 20%;*/
/*    padding: 0;*/
/*    position: relative;*/
/*    margin-right: 2em;*/
/*}*/

/*!*.timeLine div:nth-child(odd){*!*/
/*!*    align-self: end;*!*/
/*!*    flex-direction: column-reverse;*!*/
/*!*    margin: 1em auto;*!*/
/*!*}*!*/

/*.infoTimeLine{*/
/*    padding: .5em 0;*/
/*    border-radius: 13px;*/
/*    width: 90%;*/
/*    text-align: center;*/
/*    margin: .2em 0;*/
/*}*/

/*.moduleTitle{*/
/*    border: 1px solid var(--pamplemousse);*/
/*    z-index: 1;*/
/*    background: var(--fond);*/
/*}*/

/*.iTrainning{*/
/*    background-color: var(--pamplemousse);*/
/*    z-index: 1;*/
/*}*/
/*.iTrainning:hover{*/
/*    cursor: pointer;*/
/*}*/

/*.passOrNot{*/
/*    width: 18%;*/
/*    background: var(--pamplemousse);*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    padding: 5% 0;*/
/*    z-index: 1;*/
/*}*/

/*.lineX{*/
/*    height: .2em;*/
/*    background: var(--grey);*/
/*    position: absolute;*/
/*    top: 48.5%;*/
/*    width: 90%;*/
/*    border-radius: 13px;*/
/*}*/
/*.lineY{*/
/*    background: var(--grey);*/
/*    width: .1em;*/
/*    height: 6em;*/
/*    position: absolute;*/
/*}*/

/*.divEven,*/
/*.divOdd{*/
/*    display: flex;*/
/*    width: 90%;*/
/*    height: 8em;*/
/*}*/

/*.divEven{*/
/*    margin-left: 7em;*/
/*    margin-top: 1em;*/

/*}*/

/*.divOdd{*/
/*    margin-bottom: 1em;*/

/*}*/

/*.divOdd div{*/
/*    flex-direction: column-reverse;*/
/*}*/


/*!************************************************************************!*/
/*!*CUSTOM SCROLL*!*/

/*!* Works on Firefox *!*/
/*.timeLine{*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: var(--grey) var(--fond);*/
/*}*/

/*!* Works on Chrome, Edge, and Safari *!*/
/*.timeLine::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*.timeLine::-webkit-scrollbar-track {*/
/*    border-radius: 5px;*/
/*}*/

/*.timeLine::-webkit-scrollbar-thumb {*/
/*    background-color: var(--grey);*/
/*    border-radius: 20px;*/
/*    border: 3px solid var(--grey);*/
/*}*/