@import url('../main.css');

h1, h2{
    text-align: center;
    width: 100%;
}

.ligne{
    display: block;
    width: 100%;
    border: dashed 1px black;
    margin: 50px 0;
}

/****************************************** PARTIE BADGES ***********************************************/
.badge{
    width: 50px;
    height: 50px;
}

.premiereDiv{
    background-color: var(--fond);
    width: 90%;
    margin: 75px auto 75px auto;
    display: flex;
    justify-content: center;
}

.divBadge{
    padding: 0 50px;
    text-align: center;
    width: 30%;
}

/**************************************** PARTIE MODULE *********************************************/

.numeroForm{
    background-color: var(--pamplemousse);
    padding: 8px 14px;
    border-radius: 50%;
}

.module{
    text-align: center;
}

select{
    margin: auto 0 auto auto;
    padding: 20px 40px;
    border: none;
    background-color: var(--fond);
    font-size: var(--normal);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.77);
    text-align: center;
}

.officiel{
    display: flex;
    justify-content: flex-end;
}

/***************************************** PARTIE AFFICHAGE QCM ******************************************/

.realise{
    display: flex;
    justify-content: space-around;
    background-color: var(--fond);
    margin-bottom: 25px;
    align-items: center;
    padding: 2em 4em;
}

.levelAndModule{
    width: 10%;
    text-align: center;
}

.moduleQcm{
    padding: .2em;
    background: gray;
    border-radius: 30px;
    color: white;
    margin: .5em 0;
}

.difficultyQcm{
    padding: .2em;
    background: var(--pamplemousse);
    border-radius: 30px;
    color: white;
}

.nomQcm{
    background-color: var(--pamplemousse);
    border-radius: 9px;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}

.divLevel{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.divLevel img{
    width: 34%;
}

.divLevel img:hover{
    cursor: help;
}

.pInfo{
    padding: .2em;
    background: var(--pamplemousse);
    border-radius: 5px;
    color: white;
    font-weight: var(--semi_bold);
}

.button{
    border-radius: 25px;
    margin: .5em 0;
    background-color: var(--grey);
    color: white;
    padding: 8px 35px;
    text-align: center;
}

.button:hover{
    background-color: var(--vert);
}

.divButton{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.date{
    font-size: var(--normal);
}

@media screen and (max-width: 780px) {
    .nomQcm{
        padding: 25px 65px 15px 65px;
    }

    .button{
        margin: 0;
        width: 90%;
        padding: 6px 20px;
    }

    .ligne{
        width: 100%;
    }

    .divButton{
        margin: 0 auto 0 0;
    }

}

@media screen and (max-width: 450px) {
    .realise{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .divButton{
        margin: 25px 0 0 0;
        justify-content: space-around;
        width: 300px;
    }

    .nomQcm{
        margin-bottom: 25px;
        width: 220px;
        text-align: center;
    }

    .button{
        text-align: center;
        margin: 10px auto;
    }


    h1{
        width: 100%
    }


    .ligne{
        width: 100%;
    }

    .officiel select{
        width: 350px;
        font-size: var(--normal);
        margin: 25px auto auto auto;
    }

    .officiel{
        flex-direction: column;
    }

    .badge{
        width: 40px;
        height: 40px;
    }

    .divBadge{
        padding: 5px;
    }

    .premiereDiv{
        width: 100%;
    }

    .premiereDiv .divBadge:first-child{
        margin-top: 15px;
    }

    .premiereDiv .divBadge:first-child .badge{
        margin-top: 11px;
    }
}
