@import url('../main.css');

/******************************************************* Difficulté avec badge *****************************************/

.container{
    max-width: 90%;
    margin: auto;
}


img{
    width: 40px;
}

.premiereDiv{
    display: flex;
    justify-content: space-around;
    background-color: var(--fond);
    padding: 20px;
}

.diff{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.diff p{
    background-color: var(--grey);
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
}

.nom{
    color: white;
    background-color: var(--pamplemousse);
    padding: 3px 40px;
    border-radius: 17px;
}

.divName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************************************************* QCM **********************************************/


.numeroForm{
    background-color: white;
    padding: 8px 17px;
    border-radius: 50%;
    margin-right: 8px;
}

.question{
    background-color: var(--pamplemousse);
    padding: 20px 10px;
    text-align: left;
    border-radius: 8px;
    margin-right: 1em;
    width: fit-content;
}


.reponse{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 15px 50px;
    align-items: center;
}

.reponseCorrection{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 15px 50px;
    align-items: center;
}

.imgReponse{
    width: 1em;
    margin: 0 0 0 .5em;
}

.divReponse{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.pLetter{
    background-color: var(--grey);
    padding: 10px 13px;
    border-radius: 50%;
    color: white;
    margin: 0 1em;
    width: 15px;
    text-align: center;
}

.allReponse{
    background-color: var(--fond);
    border-radius: 13px;
    margin-left: 55px;
}

.explanation{
    background-color: var(--fond);
    border-radius: 5px;
    border: 1px dashed var(--grey);
    margin: .7em 0 1em 55px;
    padding: .2em;
}

.explanation h4{
    padding: 0.5em 0 0 .5em;
    margin: 0;
    font-weight: 600;
}

.explanation p{
    padding: .5em;
    color: var(--vert);
    font-weight: 600;
    margin: 0;
}

.imageDiff{
    display: flex;
    align-items: center;
}

.trefle{
    margin-right: 15px;
}

.oups{
    border-radius: 30px;
    background: orange;
    padding: .5em 1em;
    color: white;
    font-weight: 500;
}

.bravo{
    border-radius: 30px;
    background: green;
    padding: .5em 1em;
    color: white;
    font-weight: 500;
}

/**************************************** BOUTON VALIDE ******************************************/

#valid{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 150px;;
    font-size: var(--normal);
    margin: 50px auto;
    display: block;
}

#valid:hover{
    background-color: var(--vert);
    cursor: pointer;
}

/***************************************** POP UP (Qcm To do) *************************************/

#my-modal, #error-modal, #comment-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    backdrop-filter:blur(5px);
    z-index: -1;
}

.modalContent{
    border-radius: 5px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 35%;
    width: 42%;
    text-align: center;
    background-color: var(--fond);
}

.modalConfirm{
    border-radius: 5px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 42%;
    width: 42%;
    text-align: center;
    background-color: var(--fond);
}

.confirmBtn{
    color: var(--grey);
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    border: 2px solid var(--vert);
    padding: 12px 36px;
    text-decoration: none;
    background-color: var(--fond);
    margin-top: 15px;
    font-weight: bold;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cancelBtn{
    color: var(--grey);
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    border: 2px solid var(--pamplemousse);
    padding: 12px 36px;
    text-decoration: none;
    background-color: var(--fond);
    margin-top: 15px;
    font-weight: bold;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.confirmBtn:hover{
    color: #fff;
    cursor: pointer;
    border: 3px solid var(--vert);
}

.cancelBtn:hover{
    color: #fff;
    cursor: pointer;
    border: 3px solid var(--pamplemousse);
}

.confirmBtn::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--vert);
}

.cancelBtn::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--pamplemousse);
}

.cancelBtn:hover::before, .confirmBtn:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


.buttonPop{
    display: flex;
    flex-direction: column;
}

.logoPop{
    width: 100px;
    margin-top: 20px;
}

#comment-modal textarea{
    margin-bottom: 15px;
    height: 50%;
    width: 90%;
    padding: 15px;
    resize : none;
}

/***************************************** Comment (Correction) *************************************/

.containerComment{
    width: 70%;
    margin: 4em auto;
    padding: 1em 2em;
    border-radius: 5px;
    background: var(--fond);
}

.containerComment div {
    margin: 2em 0;
}

.containerComment h4{
    margin: 1em 0 .2em .5em;
}

.comment{
    border-radius: 5px;
    padding: 1em;
    margin: 0;
    background: white;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 90%;
        margin: auto;
    }

}


@media screen and (max-width: 780px) {

    .container{
        width: 80%;
        margin: auto;
    }

    .diff p{
        padding: 5px 30px;
    }

    img{
        width: 35px;
    }

    .allReponse{
        margin-left: 50px;
    }

    .reponse{
        padding: 15px 50px 15px 10px;
    }
}

@media screen and (max-width: 450px) {

    .container{
        width: 90%;
    }

    form{
        width: 350px;
    }



    .premiereDiv{
        width: 300px;
        margin: auto;
    }

    .global{
        width: 400px;
    }


    .diff p{
        padding: 5px 25px;
    }

    #valid{
        padding: 12px 60px;
    }

    .reponse{
        padding: 15px 10px 15px 0;
    }

    .modalContent{
        height: 300px;
        width: 400px;
    }

    .reponseCorrection{
        padding: 15px 50px 15px 0;
    }
}