@import url(public/css/main.css);

img{
    width: 40px;
}

.premiereDiv{
    display: flex;
    justify-content: space-around;
    background-color: var(--fond);
    padding: 20px;
}

.diff{
    align-items: center;
}

.diff p{
    background-color: var(--grey);
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
}

.nom{
    color: white;
    background-color: var(--pamplemousse);
    padding: 3px 40px;
    border-radius: 17px;
}

.divName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numeroForm{
    background-color: white;
    padding: 8px 17px;
    border-radius: 50%;
    margin-right: 8px;
}

.question{
    background-color: var(--pamplemousse);
    padding: 20px 10px;
    text-align: left;
    border-radius: 8px;
    margin-top: 80px;
    width: fit-content;
}

.valid{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 150px;;
    font-size: var(--normal);
    margin: 50px auto;
    display: block;
}

.reponse{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 15px 50px;
}

.allReponse{
    background-color: var(--fond);
    border-radius: 13px;
    margin-left: 55px;
}

.imageDiff{
    display: flex;
    align-items: flex-start;
}

.trefle{
    margin-top: 90px;
    margin-right: 15px;
}

@media screen and (max-width: 780px) {
    .diff p{
        padding: 5px 30px;
    }

    img{
        width: 35px;
    }

    .allReponse{
        margin-left: 50px;
    }

    .reponse{
        padding: 15px 50px 15px 10px;
    }
}