@import url(public/css/main.css);

img{
    width: 40px;
}

.premierediv{
    display: flex;
    justify-content: space-around;
    background-color: var(--fond);
    padding: 20px;
}

.diff{
    align-items: center;
}

.diff p{
    background-color: var(--grey);
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
}

.nom{
    color: white;
    background-color: var(--pamplemousse);
    padding: 3px 40px;
    border-radius: 17px;
}

.div_name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numeroform{
    background-color: white;
    padding: 8px 17px;
    border-radius: 50%;
    margin-right: 8px;
}

.question{
    background-color: var(--pamplemousse);
    padding: 20px 10px;
    width: 400px;
    text-align: left;
    border-radius: 8px;
}

.valid{
    background-color: var(--grey);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 150px;;
    font-size: var(--normal);
    margin: 50px auto;
    display: block;
}