@import url('../main.css');

.container{
    font: 18px/1.5 sans-serif;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.global{
    background-color: var(--pamplemousse);
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5%;
}

/********************************************** BALISES GENERALES ***************************************************/

h1{
    text-align: center;
    width: 100%;
}

h2{
    color: var(--fond);
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
}

p{
    font-size: var(--semi_small);
}

article{
    text-align: center;
}

span{
    display: block;
    border: solid 1px var(--fond);
}

.badge{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto
}
/*********************************************** PREMIERE SECTION *********************************************/

.centre{
    border: 2px solid white;
    width: 500px;
    margin: auto auto 15px auto;
    height: 60px;
    border-radius: 9px;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    border-radius: 25px;
    background-color: var(--vert);
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: var(--normal);
    font-family: 'Alumni Sans', sans-serif;
}

.button:hover{
    background-color: var(--vert);
    font-weight: bold;
    color: white;
}

.divQcm{
    border: 2px solid white;
    width: 500px;
    margin: 15px auto;
    border-radius: 9px;
    padding: 7px 15px;
}

.inter{
    display: flex;
    justify-content: space-between;
}

.selectEntrainement{
    background-color: white;
    font-size: var(--normal);
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 7px;
    font-family: 'Alumni Sans', sans-serif;
    width: 70%;
}

.buttonExercice{
    border-radius: 25px;
    background-color: var(--grey);
    color: white;
    padding: 0.1em 1em;
    text-align: center;
    font-size: var(--normal);
    font-family: "Alumni Sans", serif;
    border: none;
    width: 27%
}

.buttonExercice:hover{
    background-color: var(--vert);
    font-weight: bold;
    cursor: pointer;
}

.divQcm h2{
    margin: 0 0 10px 0;
}


/******************************************** SECTION AVEC LE CERCLE **********************************************/

.selectModule{
    margin: auto;
    background-color: white;
    padding: 15px 40px;
    font-size: var(--normal);
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 9px;
    font-family: 'Alumni Sans', sans-serif;
}

.difficult{
    margin-top: 13px;
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.difficultySubDiv input:hover,
.difficultySubDiv label:hover{
    cursor: pointer;
}

.cercle{
    background-color: var(--fond);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
}

.training{
    padding-top: 75px;
}

.buttonValid{
    border-radius: 25px;
    background-color: var(--grey);
    color: white;
    padding: 9px 28px;
    text-align: center;
    font-size: var(--semi_normal);
    border: none;
    cursor: pointer;
    font-family: "Alumni Sans", serif;
}

.buttonValid:hover{
    background-color: var(--vert);
    font-weight: bold;
}

input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    height: 35px;
    margin: 0;
    width: 80px;
    background-color: var(--grey);
}

label{
    position: relative;
    bottom: 40px;
    color: white;
    font-size: var(--normal);
    font-family: 'Alumni Sans', sans-serif;
}

input[type="radio"]:checked {
    background-color: var(--vert);
    margin:0;
}

/********************************************** SECTION QCM REALISES *******************************************/

.real{
    border-radius: 13px;
    background-color: var(--fond);
    color: var(--writing);
    padding: 10px 115px;
    text-align: center;
    font-size: var(--normal);
}

.real:hover{
    background-color: var(--vert);
    font-weight: bold;
    color: white;
}

.centreRealise{
    border: 2px solid white;
    width: 500px;
    margin: auto auto 70px auto;
    height: 120px;
    border-radius: 9px;
    padding: 7px 15px;
}

/******************************************** SECTION RETENTE MA CHANCE ***************************************************/

.centreChance{
    border: 2px solid white;
    width: 500px;
    margin: auto auto 35px auto;
    height: 90px;
    border-radius: 9px;
    padding: 7px 15px;
}

.lastDiv{
    padding-bottom: 15px;
}

.buttonBadge{
    border-radius: 25px;
    background-color: var(--grey);
    color: white;
    padding: 10px 42px;
    text-align: center;
    font-size: var(--normal);
    font-family: "Alumni Sans", serif;
    border: none;
}

.buttonBadge:hover{
    background-color: var(--vert);
    font-weight: bold;
}

.divBadge{
    background-color: var(--fond);
    margin: auto;
    padding: 22px 30px 30px 30px;
    border-radius: 13px;
    width: 500px;
}

.lastP{
    font-size: var(--semi_small);
    color: var(--vert);
    font-weight: bold;
    text-align: center;
    width: 500px;
}


@media screen and (max-width: 1200px) {

    .centre{
        width: 350px;
    }

    .divQcm{
        width: 350px;
        height: 200px;
    }

    .centreChance{
        width: 350px;
        height: 100px;
        margin: auto 30px auto auto;
    }

    .centreRealise{
        width: 350px;
        height: 140px;
        margin: auto 30px auto auto;
    }

    .inter{
        display: flex;
        flex-direction: column;
    }

    .buttonExercice{
        width: 100%;
        margin: auto;
        font-family: "Alumni Sans", serif;
    }

    .selectEntrainement{
        margin-bottom: 20px;
        width: 100%;
    }

    .divBadge{
        width: 320px;
        margin: 80px 30px auto auto;
    }


    .articleGauche{
        margin-left: 40px;
    }

    .lastP{
        text-align: center;
        margin: 15px 25px auto auto;
        width: 380px;
    }

    .button{
        background-color: var(--vert);
    }
}

@media screen and (max-width: 780px) {
    .global{
        display: flex;
        flex-direction: column;
    }

    span{
        display: block;
        border: solid 2px var(--fond);
        margin-top: 25px;
    }

    .divBadge{
        margin: 30px auto auto auto;
    }

    h2{
        margin-bottom: 10px;
    }

    a.button{
        border-radius: 25px;
        background-color: var(--vert);
        color: white;
        padding: 10px 45px;
        text-align: center;
        font-size: var(--normal);
        width: 250px;
        margin: auto;
    }

    .centre p {
        margin-bottom: 20px;
    }

    .centreRealise, .centreChance{
        margin: auto;
    }

    .articleGauche{
        margin: auto;
    }

    .lastP{
        text-align: center;
        margin: 15px auto;
        width: 350px;
    }

}

@media screen and (max-width: 450px) {
    a.button{
        border-radius: 25px;
        background-color: var(--vert);
        color: white;
        padding: 10px 25px;
        text-align: center;
        font-size: var(--normal);
        width: 250px;
    }

    .centre, .centreChance, .centreRealise{
        width: 300px;
    }


    .divQcm{
        width: 300px;
        height: 200px;
    }

    .section .centre{
        height: 125px;
    }

    h1{
        width: 412px;
    }

    .inter{
        display: flex;
        flex-direction: column;
    }

    .selectEntrainement{
        margin-bottom: 20px;
    }

    .centreRealise{
        height: 180px;
    }

    .real{
        padding: 10px 70px;
    }

    .centreRealise p{
        margin-bottom: 25px;
    }

    .centreChance{
        height: 110px;
    }

    .articleGauche{
        margin: auto;
    }

    .divBadge{
        width: 280px;
    }

    span{
        width: 340px;
        margin: 20px 0;
    }

    .global{
        width: auto;
    }
    
    .lastP{
        text-align: center;
        width: 350px;
    }
}