
{% block stylesheets %}
    <link href="{{asset('css/connection.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <main class="containerConnection">
        <div class="blocLeft">
            <div class="logoAndTypeOfApplication">
                <div class="logo"><img src=""/></div>
                <p class="typeOfApplication">Mon interface apprenant</p>
            </div>
            <div class="partOfApplication">
                <h1>- CONNEXION -</h1>
            </div>
            <div></div>
        </div>
        <div class="blocRight">
            <div class="blocWhite">
                <div class="formConnection">

                    <div class="blocBtnSubmit">
                        <a href="https://login.3wa.io/youup%27">Se connecter</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
   
{% endblock %}
