<footer id="footer">
    <div class="footerDivs">
        <div class="divFooterGlobal">
            <img class="footerlogo" src="{{asset('build/images/logo.png')}}" alt="Logo 3W Academy">
            <div class="divFooterTitle">
                <h2 class="ftitle">Le code d'aujourd'hui, votre emploi de demain</h2>
                <p class="siege">Formations professionnelles pour devenir développeur web et mobile</p>
            </div>
            <div class="divGlobalContacts">
                <div class="footerContactAddress">
                    <img class="localisationLogo" src="{{asset('build/images/localisation.png')}}" alt="icône localisation">
                    <div class="adress">
                        <p class="siege">Siège de l'école</p>
                        <address class="text">46 rue René Clair - 75018 Paris</address>
                    </div>
                </div>

                <div class="divContactPhone">
                    <p class="align">

                    <div class="footerContactAddress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="telephone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        <div class="adress">
                            <a href="tel:+33175434242" class="numero">01 75 43 42 42</a>
                            <p class="text">Prix d'un appel local</p>
                        </div>
                    </p>
                </div>
                <div class="divContactBtn">
                    <a href="https://3wa.fr/contact/"
                       class="contactBtn">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>