

{% block stylesheets %}
    <link href="{{asset('css/layout.css')}}" rel="stylesheet">
{% endblock %}

<header>
    <img class="logo" src="{{asset('build/images/logo_officiel.png')}}">
    <div class="choix">
        <a href="" class="qcm">QCM</a>
        <a href="" class="tab">Tableau de bord</a>
    </div>
    <div class="eleve">
        <p class="hellostudent">Salut, </p>
    </div>
</header>